In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./595500_3348000.txt',
                 header=None,
                 names=['x','y','z','c']
                )

In [11]:
df.head()

           x           y     z  c
0  595524.93  3348029.10  0.36  1
1  595520.50  3348027.77  0.29  1
2  595515.69  3348028.59 -0.13  1
3  595520.61  3348026.94  0.22  1
4  595512.81  3348027.65 -0.19  1

In [12]:
pixel_center = [df.x.mean(), df.y.mean()]
print(pixel_center)

[595513.8380519482, 3348016.0254545454]

In [15]:
df.c.unique()

array([1])